MORALIS_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImE5YmQ2ZjY5LTg0YjktNGVmOC1hMWQ1LWU3NDkwODg2MzEwNyIsIm9yZ0lkIjoiNDMwMzkzIiwidXNlcklkIjoiNDQyNzIzIiwidHlwZUlkIjoiYjM0MDMwMWYtM2ZlZS00MTljLWE1MGUtNmQxNjczZDAzOTE0IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3MzkxMjA4MTMsImV4cCI6NDg5NDg4MDgxM30.8_ued4cVy6_Z_Ba4A8EPK1eR09OmSY2vlkTCWk6Xihw
MONGODB_URI=mongodb://localhost:27017/crypto_patterns 